.card-container {
    background-color: #8fb3ff;

    padding: 1rem;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    // border-radius: 12px;
    // gap: 5px;
    width: 420px;

    border-radius: 12px;
    // background: #8fb3ff;
    // box-shadow: -20px -20px 60px #7a98d9,
    //     20px 20px 60px #a4ceff;

    position: relative;

    p {
        margin: 0;
        color: #fff;
        font-size: 18px;

    }

    .card-emoji {
        flex: 0.25;
        display: flex;
        align-items: center;
        justify-content: center;

        .emoji-code {
            font-size: 48px;

        }
    }

    .card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 1rem;

        .name {
            font-size: 22px;
            font-weight: 700;
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 7px;
            justify-content: center;
            // align-items: center;

            // .html-code,.unicode{
            //     // letter-spacing: 0.05em;
            // }
            //     .html-code,.unicode,.category,.group{
            //         text-transform: uppercase;
            //     }
            // }

            .html-code {
                display: flex;
                flex-wrap: wrap;
                gap: 7px;
                align-items: center;

                .htmlcode-btn {
                    // background-color: transparent;
                    color: #fff;
                    border: none;
                    outline: none;
                    padding: 0.8rem;
                    border-radius: 50px;
                    background: #8fb3ff;
                    box-shadow: -26px -26px 52px #7a98d9,
                        26px 26px 52px #a4ceff;
                }
            }
        }
    }

    .expand-btn {
        position: absolute;
        top: 10px;
        right: 10px;

        background-color: transparent;
        border: none;
        outline: none;

        cursor: pointer;
    }

}

.smileys {
    background-color: #8fb3ff;

}

.animals {

    background-color: #d68189;
}

.food {
    background-color: #f04155;

}

.travel {
    background-color: #83af9b;

}

.activities {

    background-color: #556270;
}

.objects {

    background-color: #655643;
}

.flags {
    background-color: #1b676b;
}

.symbols {
    background-color: #fc9d9a;
}

@media screen and (max-width: 376px) {

    .card-container {
        max-width: 320px;
        padding: 1rem;

        p {
            font-size: 12px;
        }

        .card-content {

            .name {
                font-size: 18px;
            }
        }
    }

}